<script type="text/javascript" charset="utf-8">
  $(function() {
    DashyEvents.init('#event_list');
    DashyScores.init('#score_container');
    DashyViews.init(".panel");
  });
</script>

<div id="content">

  <div id="event_list" class='panel'>
  </div>


  <div id="score_container" class='panel'>
  </div>
</div>