<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
  
<title>Dashy</title>


<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/transitions.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="/application.js"></script>

</head> 
<body> 
  
  <div class="container">
  
    <%- body %>

  </div>

</body> 
</html>