<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
<meta name="viewport"
  content="width=device-width,
  minimum-scale=1.0, maximum-scale=1.0" />
  
<title>SPOT</title> 

<!--[if !IE]>-->
    <link media="only screen and (max-device-width: 480px)" href="/stylesheets/iphone.css" type="text/css" rel="stylesheet" />
    <link media="only screen and (device-width: 768px)" href="/stylesheets/iphone.css" type="text/css" rel="stylesheet" />
<!--<![endif]-->


<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="/application.js"></script>

<script type="text/javascript" src="http://use.typekit.com/mwl6fhg.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<link href="/League-Gothic/stylesheet.css" rel="stylesheet" type="text/css">

</head> 
<body> 
  
  <div class="container">
  
    <%- body %>

  </div>

</body> 
</html>