<script type="text/javascript" charset="utf-8">
  $(function() {
    
    var height = $(window).height() - 40
    var width = $(window).width() - 20
    
    console.log(height, width);
    
    $('.panel').css({
      height: height+"px",
      width: width+"px"
    });
    
    function swap(going_in, going_out) {
      going_out.addClass('swap_out');
      setTimeout(function() {
        going_out.removeClass('swap_out').hide();
      }, 5000);
      going_in.show().addClass('swap_in');
      setTimeout(function() {
        going_in.removeClass('swap_in');
      }, 5000);
    } 
    
    var trigger = false;
    
    setInterval(function() {
      if (trigger) {
        swap($('#panel_1'), $('#panel_2'));
        trigger = false;
      } else {
        swap($('#panel_2'), $('#panel_1'));
        trigger = true;
      }
    }, 7000)
  })
</script>

<style type="text/css" media="screen">

</style>

<div id="content">
  <div id="panel_2" class='panel'>
    <img src='http://www.pozdena.org/snaps/7a26e69e834f29128a8ba5d5705070a6.png' />
  </div>
  <div id="panel_1" class='panel'>
    <img src='http://www.pozdena.org/snaps/010193788f7e6028133eaaa34b397aae.png' />
  </div>

</div>