{
  "engines": {
    "github": [
      {
        "auth": {
          "username":"username",
          "token":"t0k3n"
        },
        username: 'jpoz',
        repo: 'dashy',
        branch: 'master'
      }
    ]
  },
  "users": {
    "jpoz" {
      "name":"James Pozdena",
    }
  }
}