{
  "engines": {
    "github": [
      {
        "auth": {
          "username":"username",
          "token":"t0k3n"
        },
        username: 'jpoz',
        repo: 'dashy',
        branch: 'master'
      }
    ],
    "twitter": [
      {
        "user":"yo twitter name dawg",
        "password":"yo twitter password dawg",
        "track": ['baseball', 'football'],         // sports!
	    "follow": [12345, 67890],                  // follow these random users
	    "locations": [-122.75, 36.8, -121.75, 37.8] // tweets in SF
      }
    ]
  },
  "users": {
    "jpoz" {
      "name":"James Pozdena",
    }
  }
}