@-webkit-keyframes flipit {
    0% {
      -webkit-transform:rotatey(180deg);
    }

    100% {
      -webkit-transform:rotatey(0deg)
    } 
}

@-webkit-keyframes flipit {
    0% {
      -webkit-transform:rotatey(180deg);
    }

    100% {
      -webkit-transform:rotatey(0deg);
    } 
}

@-webkit-keyframes floatit {
    0% {
      -webkit-transform:scale(2) rotatey(360deg) translateY(100%);

      
      background: green;
      opacity: 0;
    }

    100% {
      -webkit-transform:scale(1) rotatey(0deg) translateY(0%);
      
      opacity: 1;
    } 
}

@-webkit-keyframes fadeit {
    0% {
      -webkit-transform:scale(1);
      opacity: 1;
    }

    100% {
      -webkit-transform:scale(0);
      opacity: 0;
    } 
}


.incoming {
  -webkit-backface-visibility: hidden;
  -webkit-animation-name: floatit;
  -webkit-animation-duration: 1s;
}

.outgoing {
  -webkit-backface-visibility: hidden;
  -webkit-animation-name: fadeit;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes swap_out {
    0% {
      -webkit-transform:scale(1) rotatey(0deg) translateX(0%);
      display: block;
      z-index: 999;
    }

    100% {
      -webkit-transform:scale(0) rotatey(0deg) translateX(-100%);;
      z-index: 0;
      display: none;
    } 
}

.swap_out {
  -webkit-animation-name: swap_out;
  -webkit-animation-duration: 1s;  
}

@-webkit-keyframes swap_in {
    0% {
      -webkit-transform:scale(0) rotatey(0deg) translateX(100%);;
      z-index: 0;
      display: none;
    }

    100% {
      -webkit-transform:scale(1) rotatey(0deg) translateX(0%);
      display: block;
      z-index: 999;
    } 
}

.swap_in {
  -webkit-animation-name: swap_in;
  -webkit-animation-duration: 1s;
}
